@model IEnumerable<Zentrix.Models.BD.Indicador>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;

}
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/gauge/FlexGauge.js"></script>
<style>
    .existingDivWithClass {
        font-size: 200%;
        font-weight: bold;
        left: 0;
        position: absolute;
        text-align: center;
        top: 100px;
        width: 250%;
    }

    .col-md-4 h4 {
        text-align: center;
    }

    .panel-body {
        padding-left: 15%;
    }
</style>
<div class="col-sm-12">
    <div class="row">
        <h2>Perspectiva financiera</h2>

        @foreach (var item in Model)
        {
            bool bAmarillo = false;
            bool bVerde = false;
            bool bRojo = false;
            string clase = "btn-primary";
            //campo x 100 / target
            decimal rojo = Convert.ToDecimal(item.rojo);
            decimal verde = Convert.ToDecimal(item.verde);
            decimal amarillo = Convert.ToDecimal(item.amarillo);
            decimal target = Convert.ToDecimal(item.target);
            decimal obtenido = Convert.ToDecimal(item.conseguido);
            //---------------------------------------------------
            decimal resultadoRojo = rojo * 100 / target;
            decimal resultadoVerde = verde * 100 / target;
            decimal resultadoAmarillo = amarillo * 100 / target;
            decimal resultadoObtenido = obtenido * 100 / target;
            //----------------------------------------------------
            if (resultadoObtenido >= resultadoRojo && resultadoObtenido < resultadoAmarillo)
            {
                bRojo = true;
            }
            if (resultadoObtenido >= resultadoAmarillo && resultadoObtenido < resultadoVerde)
            {
                bAmarillo = true;
            }
            if (resultadoObtenido >= resultadoVerde)
            {
                bVerde = true;
            }
            if (bRojo)
            {
                clase = "btn-danger";
            }
            if (bAmarillo)
            {
                clase = "btn-warning";
            }
            if (bVerde)
            {
                clase = "btn-success";
            }
            <div class="col-md-4">
                <div class="panel panel-default">
                 <div class="panel-body">
                    <div class="col-md-4" id="@count">
                        <div class="existingDivWithClass"></div>
                    </div>
                </div>
                    <h4>Indicador @item.nombre</h4>

            </div>
        </div>
            <script>
                var gauge = new FlexGauge({
                    appendTo: '#'+@count+'',
                    dialValue: true,
                    styleArcFg: '@clase',
                    styleSrc: 'background-color',
                    dialClass: 'existingDivWithClass',
                    arcFillInt: @resultadoObtenido,//% obtenido esto se extrae desde la base de datos
                    arcFillTotal: 100//% total esto se extrae desde la base de datos
                });
            </script>
            count++;
        }
    </div>
</div>
<div class="col-sm-12">
        <h2>Perspectiva Clientes</h2>
        <div class="panel-body">
            <div class="col-md-4" id="example1">
                <script>
                    var gauge = new FlexGauge({
                        appendTo: '#example1'
                    });
                </script>
            </div>
        </div>
</div>
<div class="col-sm-12">
    <h2>Perspectiva Interna</h2>
    <div class="panel-body">
        <div class="col-md-4" id="example2">
            <script>
                var gauge = new FlexGauge({
                    appendTo: '#example2'
                });
            </script>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <h2>Perspectiva Aprendizaje</h2>
    <div class="panel-body">
        <div class="col-md-4" id="example3">
            <script>
                var gauge = new FlexGauge({
                    appendTo: '#example3'
                });
            </script>
        </div>

    </div>
</div>
